body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  width: 100%;
  background-image: url("immagini/fabio-viale.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-size: cover;
  background-position: center;
}
#headline{
  box-shadow: 0px 5px 15px black;
  position: fixed;
  background-color: black;
  width: 100%;
  height: auto;
  padding: 5px 0px;
}
#bandiere{
  width: auto;
}
.bandiere:hover{
  box-shadow: 0px 0px 10px white;
}
.bandiere {
  width: 60px;
  height: 40px;
  float: left;
  margin: 15px 0px 15px 50px;
}
#intestazione{
  float: right;
  text-align: center;
  margin: 0px 50px 0px 0px;
}
#logo{
  width: auto;
  height: 30px;
  margin-top: 10px;
}
#sottotitolo {
  color: white;
  margin-top: -5px;
}
#bottoncinocookie {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 100px;
  border-radius: 30px;
}
#cookie{
  color: white;
  font-size:10px;
  background-color: black;
  margin: 2px solid white;
  width: 200px;
  padding: 15px;
  display:none;
}
#perchiudere{
  font-size: 15px;
  margin-left: 185px;
}
#spazio{
  padding-top: 180px;
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  hwight:auto;
}
#logomio{
  min-width: 300px;
  max-width: 500px;
  margin:auto;
  text-align: center;
}
#imglogomio{
  margin:auto;
  width: 400px;
  height:auto;
}
#box1{
  min-width: 100px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.60);
  border-radius: 150px;
}
.tastino{
  display: inline-block;
  padding: 40px 40px 20px 40px;
  color: white;
}
.tastino i{
  font-size:45px;
}
#videoyt{
  border-radius:70px 0px 70px 70px;
  width: 560px;
  height: 315px;
}
#fotoclasse{
  width: 530px;
  margin-right: 50px;
  border-radius:0px 70px 70px 70px;
}
@media screen and (max-width: 690px) {
  #box1{
    min-width: 100px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 150px;
    padding: 30px;
  }
}
@media screen and (max-width: 600px) {
  #headline {
    text-align: center;
    padding: 10px;
  }
  #intestazione{
    text-align: center;
    margin:auto;
    float:none;
  }
  .bandiere {
    width: 60px;
    height: 40px;
    float:none;
    margin: 15px 0px 15px 20px;
  }
  .tastino{
    display: inline-block;
    padding: 10px;
    color: white;
  }
  .tastino i{
    font-size:25px;
  }
  .tastino h3{
    font-size: 10px;
  }
}
.box1{
  background-color: black;
  padding: 30px;
  color: white;
  min-width: 100px;
  max-width: 1200px;
  margin: 20px auto 0px auto;
  heigh: auto;
  border-radius:70px 0px 70px 70px;
}
.box2{
  background-color: black;
  padding: 30px;
  color: white;
  min-width: 100px;
  max-width: 1200px;
  margin: 20px auto 0px auto;
  border-radius:0px 70px 70px 70px;
}
@media screen and (max-width: 1240px) {
  .box1{
    background-color: black;
    padding: 20px;
    color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: 20px 5px 0px 5px;
    heigh: auto;
    border-radius:70px 0px 70px 70px;
    text-align:center;
  }
  .box2{
    background-color: black;
    padding: 20px;
    color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: 20px 5px 0px 5px;
    border-radius:0px 70px 70px 70px;
    text-align:center;
  }
}
@media screen and (max-width: 600px) {
  #spazio{
    padding-top: 220px;
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    hwight:auto;
  }
  #imglogomio{
    margin:auto;
    width: 200px;
    height:auto;
  }
  #fotoclasse{
    width: 80%;
    height: 200px;
    border-radius:0px 70px 70px 70px;
  }
  #videoyt{
    border-radius:70px 0px 70px 70px;
    width: 80%;
    height: 200px;
  }
  .box1{
    background-color: black;
    padding: 20px;
    color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: 20px 5px 0px 5px;
    heigh: auto;
    border-radius:70px 0px 70px 70px;
    text-align:left;
  }
  .box2{
    background-color: black;
    padding: 20px;
    color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: 20px 5px 0px 5px;
    border-radius:0px 70px 70px 70px;
    text-align:left;
  }
}
a:link{
  color:white;
  text-decoration: none;
}
a:hover{
  color: black !important;
  text-decoration: none;
  text-shadow: 0px 0px 10px white;
}
a:visited{
  color:white;
  text-decoration: none;
}
.titoletto{
  letter-spacing: 5px;
}
h2{
  border-left: 10px solid hsl(0, 130%, 68%);
  padding-left: 20px;
  letter-spacing: 1px;
}
.elemento1{
  display: inline-block;
  width: 50%;
}
.elemento2 {
  margin:auto;
  display: inline-block;
}
h1{
  color:white;
  text-align: center;
  margin-top: 50px;
  text-shadow: 0px 0px 10px black;
}
.dipartimenti{
  background-color: black;
  padding: 30px;
  color: white;
  text-align:center;
  min-width: 100px;
  max-width: 1200px;
  margin: 20px auto 0px auto; 
}
h3{
  text-align: center;
}
.scuole{
  margin: 0px auto;
}
#pittura{
  border-radius:70px 0px 70px 70px;
  border: 3px solid #FF0000;
  text-align: center;
  padding: 20px;
  height:auto;
  width: 500px;
  margin:auto 5px auto auto;
  display: inline-block;
}
#grafica{
  border-radius:0px 70px 70px 70px;
  border: 3px solid #29ABE2;
  text-align: center;
  padding: 20px;
  height:auto;
  width: 500px;
  margin:auto auto auto 5px; 
  display: inline-block;
}
#scenografia{
  border-radius:70px 0px 70px 70px;
  border: 3px solid #F7931E;
  text-align: center;
  padding: 10px;
  height:auto;
  width: 350px;
  margin:auto 5px auto auto;
  display: inline-block;
}
#impresa{
  border-radius:0px 0px 70px 70px;
  border: 3px solid #FCEE21;
  text-align: center;
  padding: 8px;
  height:auto;
  width: 350px;
  margin:auto 5px;
  display: inline-block;
}
#tecnologie{
  border-radius:0px 70px 70px 70px;
  border: 3px solid #FF00FF;
  text-align: center; 
  padding: 10px;
  height:auto;
  width: 350px;
  margin:auto auto auto 5px;
  display: inline-block;
}
#comunicazione{
  border-radius:0px 0px 70px 70px;
  border: 3px solid #AA6FFF;
  text-align: center;
  padding: 10px;
  height:auto;
  width: 400px;
  margin:auto;
}
@media screen and (max-width: 1213px) {
  .elemento1{
    display: block;
    margin:auto;
    width:100%;
  }
  .elemento2 {
    margin:auto;
    display: block;
  }  
  .dipartimenti{
    background-color: black;
    padding: 30px;
    color: white;
    text-align:center;
    min-width: 300px;
    max-width: 1200px;
    margin: 20px auto; 
  }
  #pittura{
    border-radius:70px 70px 0px 0px;
    border: 3px solid #FF0000;
    text-align: center;
    padding: 20px;
    height:auto;
    width: 280px;
    margin: auto auto 5px auto;
    display: block;
  }
  #grafica{
    border-radius:0px 0px 70px 70px;
    border: 3px solid #29ABE2;
    text-align: center;
    padding: 20px;
    height:auto;
    width: 280px;
    margin: 5px auto auto auto;
    display: block;
  }
  #scenografia{
    border-radius:70px 70px 0px 0px;
    border: 3px solid #F7931E;
    text-align: center;
    padding: 10px;
    height:auto;
    width: 280px;
    margin: auto auto 5px auto;
    display: block;
  }
  #impresa{
    border-radius:0px 0px 0px 0px;
    border: 3px solid #FCEE21;
    text-align: center;
    padding: 8px;
    height:auto;
    width: 280px;
    margin: 5px auto;
    display: block;
  }
  #tecnologie{
    border-radius:0px 0px 70px 70px;
    border: 3px solid #FF00FF;
    text-align: center; 
    padding: 10px;
    height:auto;
    width: 280px;
    margin: 5px auto auto auto;
    display: block;
  }
  #comunicazione{
    border-radius:0px 0px 70px 70px;
    border: 3px solid #AA6FFF;
    text-align: center;
    padding: 10px;
    height:auto;
    width: 280px;
    margin: auto;
    display: block;
  }
}
#map {
  width: auto;
  height: 200px;
  margin-left:50px
}
footer{
  background-color: black;
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 50px;
  padding: 5px;
}
.fot{
  display: inline-block;
  margin: 10px auto;
}
.social{
  img-height: 30px;
  margin: 0px 40px 10px 0px;
  display: inline-block;
}
#yt{
  height: 40px;
  margin: 0px 0px 10px 0px;
  display: inline-block;
}
#testofooter{
  max-width: 500px;
  font-size: 12px;
}
@media screen and (max-width: 900px) {
  #map {
    width: auto;
    height: 200px;
    margin:auto
  }
  .fot{
    display: block;
    margin: 10px auto;
  }
  #testofooter{
    max-width: 500px;
    font-size: 12px;
    margin:auto;
  }
}
.top {
  color: white;
  background-color: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  text-align: center;
}
#freccina{
  text-shadow: 0px 0px 10px hsl(0, 130%, 68%);
}
.panel-container {
  margin:50px auto auto auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.60);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 400px;
}

.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 10px white;
}

.rating img {
  width: 40px;
}

.rating small {
  color: white;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
  color: black !important;
  text-decoration: none;
  text-shadow: 0px 0px 10px white;
}

.btn {
  background-color: hsl(0, 130%, 68%);
  color: white;
  border: 0;
  border-radius: 0px 15px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}
